@charset "UTF-8";
/* 设置 */
.check-list{
	list-style: none;
}
.check-list li{
	width: 25%;
	float: left;
}
.hr-2{
	margin: 5px 0;
}
.checkUnit{
	height: 345px;
	overflow-y: scroll;
}
.sub{
	margin-left: 10px!important;
	margin-right: 10px!important;
}