<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.CtripHotelRoomTypeDao">


    <resultMap id="BaseResultMap" type="com.fanqie.bean.response.CtripHotelRoomType">
        <id column="id" property="id"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="deleted" property="deleted"/>
        <result column="ctrip_prent_hotel_id" property="ctripPrentHotelId"/>
        <result column="room_type_name" property="roomTypeName"/>
        <result column="room_type_id" property="roomTypeId"/>
        <result column="bed_type" property="bedType"/>
        <result column="currency" property="currency"/>
        <result column="check_in_num" property="checkInNum"/>
    </resultMap>

    <sql id="Base_Column_List">
  			id,ctrip_prent_hotel_id,room_type_name,room_type_id,bed_type,created_date,updated_date,deleted
       </sql>
    
       
       
    <select id="findByCtripParentHotelId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from  ctrip_parent_room   where  deleted = 0
        <if test="ctripParentHotelId!=null and ctripParentHotelId!=''">
            and  ctrip_prent_hotel_id = '${ctripParentHotelId}';
        </if>
    </select>

    <select id="findByCtripParentHotelIdAndRoomTypeId"  resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from  ctrip_parent_room   where  deleted = 0
        <if test="parentHotelId!=null and parentHotelId!=''">
            and  ctrip_prent_hotel_id = '${parentHotelId}'
        </if>
        <if test="roomTypeId!=null and parentHotelId!=''">
            and  room_type_id = '${roomTypeId}'
        </if>
    </select>

    <insert id="saveCtripHotelRoomType" parameterType="com.fanqie.bean.response.CtripHotelRoomType">
          insert into ctrip_parent_room(id,ctrip_prent_hotel_id,room_type_name,room_type_id,currency,bed_type,created_date,updated_date,deleted)
              values (#{uuid},#{ctripParentHotelId},#{roomTypeName},#{roomTypeId},#{currency},#{bedType},now(),now(),0)
    </insert>

    <insert id="insertCtripHotelRoomTypeByCtripHotel" parameterType="com.fanqie.bean.response.CtripHotelInfo">
        insert into
        ctrip_parent_room(id,ctrip_prent_hotel_id,room_type_name,room_type_id,currency,bed_type,created_date,updated_date,deleted)
        values
        <foreach collection="ctripHotelRoomTypeList" separator="," index="i">
            (#{i.uuid},#{i.ctripParentHotelId},#{i.roomTypeName},#{i.roomTypeId},#{i.currency},#{i.bedType},now(),now(),0)
        </foreach>
    </insert>
</mapper>