<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.ExceptionOrderDao">
    <resultMap id="BaseResultsMap" type="com.fanqielaile.toms.model.ExceptionOrder">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="modifier_person" property="modifierId"/>
        <result column="modifier_status" property="mofifierStatus"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,order_id,created_date,updated_date,modifier_person,modifier_status,deleted
    </sql>

    <insert id="insertExceptionOrder" parameterType="com.fanqielaile.toms.model.Order">
        INSERT INTO ota_exception_order(id,order_id,created_date,updated_date,modifier_person,modifier_status,deleted)
        VALUES
        <if test="exceptionOrderList.size()>0">
        <foreach collection="exceptionOrderList" item="eo" separator=",">
            (#{eo.uuid},#{eo.orderId},now(),now(),#{eo.modifierId},#{eo.modifierStatus},0)
        </foreach>
        </if>
    </insert>
    <insert id="insertExceptionOrderByException" parameterType="com.fanqielaile.toms.model.ExceptionOrder">
        INSERT INTO ota_exception_order(id,order_id,created_date,updated_date,modifier_person,modifier_status,deleted)
        VALUES
            (#{uuid},#{orderId},now(),now(),#{modifierId},#{modifierStatus},0)
    </insert>
    <select id="selectAllExceptionOrder" resultMap="BaseResultsMap">
        select
        <include refid="Base_Column_List"/>
        from ota_exception_order where deleted = 0;
    </select>
    <update id="updateExceptionOrder" parameterType="com.fanqielaile.toms.model.ExceptionOrder">
        update ota_exception_order
        <trim prefix="SET" suffixOverrides=",">
            deleted = 1,updated_date = now(),
            <if test="modifierId != null and modifierId != ''">
                modifier_person= #{modifierId},
            </if>
            <if test="modifierStatus != null and modifierStatus != ''">
                modifier_status = #{modifierStatus},
            </if>
            <if test="feeStatus != null and feeStatus != ''">
                fee_status = #{feeStatus},
            </if>
        </trim>
        where order_id = #{orderId}
    </update>
    <delete id="deleteExceptionOrder" parameterType="com.fanqielaile.toms.model.Order">
        DELETE from ota_exception_order where order_id in
        <foreach collection="exceptionOrderList" separator="," item="eo" close=")" open="(">
            #{eo.orderId}
        </foreach>
    </delete>
</mapper>