<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.OrderGuestsDao">
    <resultMap id="BaseResultsMap" type="com.fanqielaile.toms.model.OrderGuests">
        <id column="id" property="id"/>
        <result column="created_date" property="createdDate"/>
        <result column="order_id" property="orderId"/>
        <result column="name" property="name"/>
        <result column="room_pos" property="roomPos"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,created_date,order_id,name,room_pos
    </sql>
    <insert id="insertOrderGuests" parameterType="com.fanqielaile.toms.model.Order">
        INSERT INTO ota_order_guests(id,created_date,order_id,name,room_pos)
        VALUES
        <foreach collection="orderGuestses" separator="," item="o">
            (#{o.uuid},now(),#{o.orderId},#{o.name},#{o.roomPos})
        </foreach>
    </insert>
    <select id="selectOrderGuestByOrderId" parameterType="java.lang.String" resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_order_guests where order_id = #{orderId}
    </select>
</mapper>