<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.OrderDao">
    <resultMap id="BaseResultsMap" type="com.fanqielaile.toms.model.Order">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="channel_source" property="channelSource"/>
        <result column="channel_order_code" property="channelOrderCode"/>
        <result column="order_status" property="orderStatus"/>
        <result column="inn_id" property="innId"/>
        <result column="guest_name" property="guestName"/>
        <result column="room_type_id" property="roomTypeId"/>
        <result column="home_amount" property="homeAmount"/>
        <result column="live_time" property="liveTime"/>
        <result column="leave_time" property="leaveTime"/>
        <result column="total_price" property="totalPrice"/>
        <result column="prepay_price" property="prepayPrice"/>
        <result column="cost_price" property="costPrice"/>
        <result column="OTA_price" property="OTAPrice"/>
        <result column="order_time" property="orderTime"/>
        <result column="comment" property="comment"/>
        <result column="OTA_room_type_id" property="OTARoomTypeId"/>
        <result column="OTA_hotel_id" property="OTAHotelId"/>
        <result column="OTA_rate_plan_id" property="OTARatePlanId"/>
        <result column="OTA_gid" property="OTAGid"/>
        <result column="eariest_arrive_time" property="eariestArriveTime"/>
        <result column="lastest_arrive_time" property="lastestArriveTime"/>
        <result column="currency" property="currency"/>
        <result column="payment_type" property="paymentType"/>
        <result column="guest_mobile" property="guestMobile"/>
        <result column="OTA_rate_code" property="OTARateCode"/>
        <result column="fee_status" property="feeStatus"/>
        <result column="reason" property="reason"/>
        <result property="alipayTradeNo" column="alipay_trade_no"/>
        <result property="payment" column="payment"/>
        <result column="order_code" property="orderCode"/>
        <result column="company_id" property="companyId"/>
        <result column="guest_email" property="guestEmail"/>
        <result column="special_requirement" property="specialRequirement"/>
        <result column="reserved_item" property="reservedItem"/>
        <result column="fc_bed_type" property="fcBedType"/>
        <result column="percent" property="percent"/>
        <result column="used_price_model" property="usedPriceModel"/>
        <result column="add_price" property="addPrice"/>
        <result column="partner_code" property="partnerCode"/>
        <result column="order_inn_name" property="orderInnName"/>
        <result column="order_room_type_name" property="orderRoomTypeName"/>
        <result column="person" property="person"/>
        <result column="interface_send_id" property="interFaceSendID"/>
        <result column="basic_total_price" property="basicTotalPrice"/>
        <result column="oms_order_code" property="omsOrderCode"/>
        <result column="xml_data" property="xmlData"/>
    </resultMap>
    <resultMap id="OrderDtoResults" type="com.fanqielaile.toms.dto.OrderParamDto">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="version" property="version"/>
        <result column="deleted" property="deleted"/>
        <result column="channel_source" property="channelSource"/>
        <result column="channel_order_code" property="channelOrderCode"/>
        <result column="order_status" property="orderStatus"/>
        <result column="inn_id" property="innId"/>
        <result column="guest_name" property="guestName"/>
        <result column="room_type_id" property="roomTypeId"/>
        <result column="home_amount" property="homeAmount"/>
        <result column="live_time" property="liveTime"/>
        <result column="leave_time" property="leaveTime"/>
        <result column="total_price" property="totalPrice"/>
        <result column="prepay_price" property="prepayPrice"/>
        <result column="cost_price" property="costPrice"/>
        <result column="OTA_price" property="OTAPrice"/>
        <result column="order_time" property="orderTime"/>
        <result column="comment" property="comment"/>
        <result column="OTA_room_type_id" property="OTARoomTypeId"/>
        <result column="OTA_hotel_id" property="OTAHotelId"/>
        <result column="OTA_rate_plan_id" property="OTARatePlanId"/>
        <result column="OTA_gid" property="OTAGid"/>
        <result column="eariest_arrive_time" property="eariestArriveTime"/>
        <result column="lastest_arrive_time" property="lastestArriveTime"/>
        <result column="currency" property="currency"/>
        <result column="payment_type" property="paymentType"/>
        <result column="guest_mobile" property="guestMobile"/>
        <result column="OTA_rate_code" property="OTARateCode"/>
        <result column="fee_status" property="feeStatus"/>
        <result column="reason" property="reason"/>
        <result property="alipayTradeNo" column="alipay_trade_no"/>
        <result property="payment" column="payment"/>
        <result column="inn_name" property="innName"/>
        <result column="company_id" property="companyId"/>
        <result column="guest_email" property="guestEmail"/>
        <result column="special_requirement" property="specialRequirement"/>
        <result column="reserved_item" property="reservedItem"/>
        <result column="fc_bed_type" property="fcBedType"/>
        <result column="percent" property="percent"/>
        <result column="used_price_model" property="usedPriceModel"/>
        <result column="add_price" property="addPrice"/>
        <result column="partner_code" property="partnerCode"/>
        <result column="order_inn_name" property="orderInnName"/>
        <result column="order_room_type_name" property="orderRoomTypeName"/>
        <result column="person" property="person"/>
        <result column="interface_send_id" property="interFaceSendID"/>
        <result column="basic_total_price" property="basicTotalPrice"/>
        <result column="oms_order_code" property="omsOrderCode"/>
        <result column="xml_data" property="xmlData"/>
        <result column="user_name" property="operator"/>
        <collection property="orderOtherPriceList" column="id" ofType="com.fanqielaile.toms.model.OrderOtherPrice"
                    select="getOrderOtherPrice"/>
    </resultMap>
    <resultMap type="com.fanqielaile.toms.model.OrderOtherPrice" id="orderOtherType">
    	<id column="other_consumer_info_id" property="id"/>
    	<result column="consumer_project_name" property="consumerProjectName"/>
    	<collection property="priceNameList" column="consumerProjectName" ofType="java.lang.String" select="getOtherPriceSubtype"></collection>
    </resultMap>
    <select id="getOrderOtherPrice" resultType="com.fanqielaile.toms.model.OrderOtherPrice">
        SELECT id as id,order_id as orderId,other_consumer_info_id as otherConsumerInfoId,price_name as priceName,price as price,nums as nums,consumer_project_name as consumerProjectName FROM
        order_other_price where order_id=#{id}
    </select>
    <select id="getOtherPriceSubtype" resultType="java.lang.String">
        SELECT price_name
       FROM
			ota_toms_order oto
		LEFT JOIN bang_inn bi ON oto.inn_id = bi.inn_id
			AND oto.company_id = bi.company_id
		LEFT JOIN order_other_price oop ON oto."id" = oop.order_id
        <where>
            <if test="order.orderStatusString != null and order.orderStatusString =='DEAL'">
                AND oto.order_status !='NOT_DEAL' AND oto.order_status != 'PAY_BACK'
            </if>
            <if test="order.orderStatusString != null and order.orderStatusString =='NOT_DEAL'">
                AND oto.order_status ='NOT_DEAL'
            </if>
            <if test="order.companyId != null and order.companyId != ''">
                and oto.company_id='${order.companyId}'
            </if>
            <if test="order.orderStatus != null and order.orderStatus != ''">
                and oto.order_status = '${order.orderStatus}'
            </if>
             <if test="order.innName != null and order.innName != '' and order.innName != '暂无'">
                and bi.inn_name='${order.innName}'
            </if>
            <if test="order.channelSource != null and order.channelSource != ''">
                and oto.channel_source = '${order.channelSource}'
            </if>
            <if test="order.searchType != null and order.searchType != ''">
                and oto.${order.searchType} BETWEEN '${order.beginDate}' and '${order.endDate}'
            </if>
            <if test="order.channelOrderCode != null and order.channelOrderCode != ''">
                and (oto.channel_order_code = '${order.channelOrderCode}'
                or oto.guest_mobile = '${order.channelOrderCode}')
            </if>
            <if test="order.operators != null and order.operators.size != 0">
           		and oto.user_id in
            	<foreach collection="order.operators" item="op" open="(" separator="," close=")">
            		<if test="op.selected == true">
                		'${op.id}'
                	</if>
                </foreach>
            </if>
            <if test="consumerProjectName != null">
                and oop.consumer_project_name = '${consumerProjectName}'
            </if>
        </where>
        group by price_name
    </select>
    <sql id="Base_Column_List">
        id, user_id, created_date,
        updated_date,modifier_id,version,deleted,channel_source,channel_order_code,order_status,inn_id,guest_name,room_type_id,home_amount,live_time,leave_time,
        total_price,prepay_price,cost_price,OTA_price,order_time,comment,OTA_room_type_id,OTA_hotel_id,OTA_rate_plan_id,OTA_gid,eariest_arrive_time,lastest_arrive_time,currency,payment_type,
        guest_mobile,OTA_rate_code,fee_status,reason,alipay_trade_no,payment,order_code,company_id,payment,guest_email,special_requirement,reserved_item,fc_bed_type,percent,used_price_model,add_price,basic_total_price,
        partner_code,order_inn_name,order_room_type_name,person,interface_send_id,oms_order_code,xml_data
    </sql>
    <insert id="insertOrder" parameterType="com.fanqielaile.toms.model.Order">
        INSERT INTO ota_toms_order(id, user_id, created_date,
        updated_date,modifier_id,version,deleted,channel_source,channel_order_code,order_status,inn_id,guest_name,room_type_id,home_amount,
        live_time,leave_time,total_price,prepay_price,cost_price,OTA_price,order_time,comment,OTA_room_type_id,OTA_hotel_id,OTA_rate_plan_id,OTA_gid,eariest_arrive_time,lastest_arrive_time,
        currency,payment_type,guest_mobile,OTA_rate_code,fee_status,order_code,company_id,payment,guest_email,special_requirement,reserved_item,fc_bed_type,percent,used_price_model,
        add_price,basic_total_price,partner_code,oms_order_code,order_inn_name,order_room_type_name,person,interface_send_id,xml_data)
        VALUES
        (#{id},#{userId},#{createdDate},#{updatedDate},#{modifierId},#{version},#{deleted},#{channelSource},#{channelOrderCode},#{orderStatus},#{innId},#{guestName},#{roomTypeId},#{homeAmount},
        #{liveTime},#{leaveTime},#{totalPrice},#{prepayPrice},#{costPrice},#{OTAPrice},#{orderTime},#{comment},#{OTARoomTypeId},#{OTAHotelId},#{OTARatePlanId},#{OTAGid},#{eariestArriveTime},
        #{lastestArriveTime},#{currency},#{paymentType},#{guestMobile},#{OTARateCode},#{feeStatus},#{orderCode},#{companyId},#{payment},#{guestEmail},#{specialRequirement},
        #{reservedItem},#{fcBedType},#{percent},#{usedPriceModel},#{addPrice},#{basicTotalPrice},#{partnerCode},#{omsOrderCode},#{orderInnName},
        #{orderRoomTypeName},#{person},#{interFaceSendID},#{xmlData});
    </insert>
    <select id="selectOrderByChannelSourceAndOrderId" resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_toms_order where deleted = 0 and channel_source = #{channelSource} and channel_order_code =
        #{channelOrderCode} limit 1
    </select>
    <select id="selectOrderByIdAndChannelSource" resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ota_toms_order where deleted = 0 and channel_source = #{channelSource} and id = #{orderId} limit 1
    </select>
    <update id="updateOrderStatusAndReason" parameterType="com.fanqielaile.toms.model.Order">
        UPDATE ota_toms_order set order_status = #{orderStatus} , reason = #{reason},updated_date=now() where deleted =
        0 and id=#{id}
    </update>
    <update id="updateOrderStatusAndFeeStatus" parameterType="com.fanqielaile.toms.model.Order">
        UPDATE ota_toms_order set
        <if test="omsOrderCode != null and omsOrderCode != ''">
            oms_order_code = #{omsOrderCode},
        </if>
        order_status=#{orderStatus} , fee_status = #{feeStatus},payment = #{payment}
        ,alipay_trade_no = #{alipayTradeNo},updated_date = now() where deleted = 0 and id=#{id}
    </update>
    <select id="selectOrderByNoPage" resultMap="OrderDtoResults">
        SELECT oto.*,bi.inn_name as inn_name,ui.user_name from ota_toms_order oto
        LEFT JOIN bang_inn bi on oto.inn_id = bi.inn_id and oto.company_id = bi.company_id
        LEFT JOIN user_info ui on oto.user_id = ui.id and ui.deleted = 0
        <where>
            <if test="order.orderStatusString != null and order.orderStatusString =='DEAL'">
                AND oto.order_status !='NOT_DEAL' AND oto.order_status != 'PAY_BACK'
            </if>
            <if test="order.orderStatusString != null and order.orderStatusString =='NOT_DEAL'">
                AND oto.order_status ='NOT_DEAL'
            </if>
            <if test="order.companyId != null and order.companyId != ''">
                and oto.company_id='${order.companyId}'
            </if>
            <if test="order.orderStatus != null and order.orderStatus != ''">
                and oto.order_status = '${order.orderStatus}'
            </if>
             <if test="order.innName != null and order.innName != '' and order.innName != '暂无'">
                and bi.inn_name='${order.innName}'
            </if>
            <if test="order.channelSource != null and order.channelSource != ''">
                and oto.channel_source = '${order.channelSource}'
            </if>
            <if test="order.searchType != null and order.searchType != ''">
                and oto.${order.searchType} BETWEEN '${order.beginDate}' and '${order.endDate}'
            </if>
            <if test="order.channelOrderCode != null and order.channelOrderCode != ''">
                and (oto.channel_order_code = '${order.channelOrderCode}'
                or oto.guest_mobile = '${order.channelOrderCode}')
            </if>
            <if test="order.operators != null and order.operators.size != 0">
           		and oto.user_id in
            	<foreach collection="order.operators" item="op" open="(" separator="," close=")">
            		<if test="op.selected == true">
                		'${op.id}'
                	</if>
                </foreach>
            </if>
        </where>
        ORDER BY oto.order_time DESC
    </select>
    <select id="selectOrderByPage" resultMap="OrderDtoResults">
        SELECT oto.*,bi.inn_name as inn_name,ui.user_name from ota_toms_order oto
        LEFT JOIN bang_inn bi on oto.inn_id = bi.inn_id and oto.company_id = bi.company_id
        LEFT JOIN user_info ui on oto.user_id = ui.id and ui.deleted = 0
        <include refid="selectOrderFilter"></include>
        ORDER BY oto.order_time DESC
    </select>
    <sql id="selectOrderFilter">
    	<where>
            <if test="order.orderStatusString != null and order.orderStatusString =='DEAL'">
                AND oto.order_status !='NOT_DEAL' AND oto.order_status != 'PAY_BACK'
            </if>
            <if test="order.orderStatusString != null and order.orderStatusString =='NOT_DEAL'">
                AND oto.order_status ='NOT_DEAL'
            </if>
            <if test="companyId != null and companyId != ''">
                and oto.company_id=#{companyId}
            </if>
            <if test="order.orderStatus != null and order.orderStatus != ''">
                and oto.order_status = '${order.orderStatus}'
            </if>
            <if test="order.innName != null and order.innName != '' and order.innName != '暂无'">
                and bi.inn_name='${order.innName}'
            </if>
            <if test="order.channelSource != null and order.channelSource != ''">
                and oto.channel_source = '${order.channelSource}'
            </if>
            <if test="order.searchType != null and order.searchType != ''">
                and oto.${order.searchType} BETWEEN '${order.beginDate}' and '${order.endDate}'
            </if>
            <if test="order.channelOrderCode != null and order.channelOrderCode != ''">
                and (oto.channel_order_code = '${order.channelOrderCode}'
                or oto.guest_mobile = '${order.channelOrderCode}')
            </if>
            <if test="order.operators != null and order.operators.size != 0">
           		and oto.user_id in
            	<foreach collection="order.operators" item="op" open="(" separator="," close=")">
            		<if test="op.selected == true">
                		'${op.id}'
                	</if>
                </foreach>
            </if>
        </where>
    </sql>
    <select id="statisticsOrderData" resultType="com.fanqielaile.toms.dto.OrderStatisticsDto">
        SELECT
        sum(odi1.nightNum) AS orderNightNumber,
        SUM (oto.prepay_price) AS totalPrice,
        SUM (oto.cost_price) AS totalCostPrice
        FROM
        ota_toms_order oto
        LEFT JOIN bang_inn bi ON oto.inn_id = bi.inn_id
        AND oto.company_id = bi.company_id
        LEFT JOIN (
        SELECT
        order_id,
        SUM (COALESCE(room_type_nums, 0)) room_type_nums
        FROM
        ota_daily_infos odi
        GROUP BY
        odi.order_id
        ) odi ON oto. ID = odi.order_id
        LEFT JOIN(
        SELECT "count"("id") as nightNum,order_id from ota_daily_infos odi1 GROUP BY odi1.order_id
        ) odi1 on odi1.order_id = oto.id
        <include refid="selectOrderFilter"></include>
    </select>
    <select id="statisticsOtherConsumer" resultType="com.fanqielaile.toms.model.OrderOtherPrice">
        SELECT
			oci1.consumer_project_name as consumerProjectName,
			sum(oop.price*oop.nums) as totalCost,
			sum(oop.nums) as nums
		FROM
			ota_toms_order oto
		LEFT JOIN bang_inn bi ON oto.inn_id = bi.inn_id
			AND oto.company_id = bi.company_id
		left JOIN order_other_price oop ON oto."id" = oop.order_id
		inner JOIN other_consumer_info oci ON oop.other_consumer_info_id = oci.id and oci.deleted = 0
		left join other_consumer_info oci1 on oci.parent_id = oci1.id
        <include refid="selectOrderFilter"></include>
        GROUP BY oci1.id,oci1.consumer_project_name
    </select>
    <select id="selectOrderOtherPriceType" resultMap="orderOtherType">
        SELECT
			oop.consumer_project_name
		FROM
			ota_toms_order oto
		LEFT JOIN bang_inn bi ON oto.inn_id = bi.inn_id
			AND oto.company_id = bi.company_id
		LEFT JOIN order_other_price oop ON oto."id" = oop.order_id
        <include refid="selectOrderFilter"></include>
        GROUP BY oop.consumer_project_name
    </select>
    
    <select id="statisticsOrderOtherPrice" resultType="com.fanqielaile.toms.model.OrderOtherPrice">
    	SELECT sum(nums*price) as totalCost,sum(nums) as nums,consumer_project_name as consumerProjectName 
    	FROM order_other_price 
    	where order_id=#{id}
    	group by consumerProjectName
    </select>
    <select id="selectOrders" resultMap="OrderDtoResults">
        SELECT oto.*,bi.inn_name as inn_name from ota_toms_order oto
        LEFT JOIN bang_inn bi on oto.inn_id = bi.inn_id and oto.company_id = bi.company_id
        LEFT JOIN company c on oto.company_id = c.id
        <where>
            <if test="companyId != null and companyId != ''">
                and c.id=#{companyId}
            </if>
            <if test="order.searchType != null and order.searchType != ''">
                <if test="order.beginDate != null and order.beginDate != '' ">
                    <if test="order.endDate != null and order.endDate != ''">
                        and oto.${order.searchType} BETWEEN '${order.beginDate}' and '${order.endDate}'
                    </if>
                </if>
            </if>
        </where>
    </select>

    <select id="selectOrderById" parameterType="java.lang.String" resultMap="OrderDtoResults">
        SELECT oto.*,bi.inn_name as inn_name,ui.user_name from ota_toms_order oto
        LEFT JOIN bang_inn bi on oto.inn_id = bi.inn_id and oto.company_id = bi.company_id
        LEFT JOIN company c on bi.company_id = c.id
        left join user_info ui on oto.user_id = ui.id
        <where>
            <if test="id != null and id != ''">
                and oto.id=#{id}
            </if>
        </where>
    </select>
    <select id="selectOrderChancelSource" resultMap="BaseResultsMap" parameterType="java.lang.String">
        SELECT channel_source from ota_toms_order WHERE company_id = #{companyId} GROUP BY channel_source
    </select>
    <select id="selectOrderByChannelOrderCodeAndSource" parameterType="com.fanqielaile.toms.model.Order"
            resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_toms_order where channel_order_code = #{channelOrderCode} and channel_source = #{channelSource} and
        deleted = 0
    </select>
    <select id="selectOrderByOmsOrderCodeAndChannelSourceCode" resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_toms_order where channel_order_code = #{channelOrderCode} and oms_order_code = #{omsOrderCode} and
        deleted = 0
    </select>
    <select id="selectAllExceptionOrder" resultMap="BaseResultsMap">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_toms_order where order_status='ACCEPT' and fee_status='NOT_PAY' and id in (SELECT order_id as id from
        ota_exception_order where deleted = 0) ORDER BY
        created_date DESC
    </select>
    <select id="selectExceptionOrderList" resultMap="BaseResultsMap"
            parameterType="com.fanqielaile.toms.dto.OrderParamDto">
        SELECT
        <include refid="Base_Column_List"/>
        from ota_toms_order where order_status='ACCEPT' and fee_status='NOT_PAY' and created_date BETWEEN
        '${order.beginDate}' and '${order.endDate}'
    </select>
</mapper>