<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaBangInnRoomDao" >
       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaBangInnRoomDto">
              <id column="id" property="id" />
              <result column="inn_id" property="innId"/>
              <result column="room_type_id" property="roomTypeId"/>
              <result column="room_type_name" property="roomTypeName"/>
              <result column="company_id" property="companyId"/>
              <result column="rid" property="rId"/>
              <result column="price_model_id" property="priceModelId"/>
              <result column="ota_wg_id" property="otaWgId"/>
              <result column="ota_wg_id" property="otaWgId"/>
              <result column="deleted" property="deleted"/>
       </resultMap>

       <insert id="saveBangInnRoom" parameterType="com.fanqielaile.toms.dto.OtaBangInnRoomDto">
               insert into ota_bang_inn_room(id,inn_id,room_type_id,room_type_name,company_id,rid,price_model_id,ota_wg_id,deleted)
              values (#{uuid},#{innId},#{roomTypeId},#{roomTypeName},#{companyId},#{rId},#{priceModelId},#{otaWgId},0)
       </insert>

       <select id="selectBangInnRoomByInnIdAndRoomTypeId" resultMap="BaseResultMap">
              SELECT id,inn_id,room_type_id,room_type_name,company_id,rid,price_model_id,ota_wg_id from
              ota_bang_inn_room where inn_id = #{innId} and room_type_id=#{roomTypeId} and deleted=0
       </select>
       <select id="findOtaBangInnRoom"  resultMap="BaseResultMap">
              SELECT id,inn_id,room_type_id,room_type_name,company_id,rid,price_model_id,ota_wg_id from
              ota_bang_inn_room where ota_wg_id = #{wgOtaId} and room_type_id=#{roomTypeId} and deleted=0
       </select>

       <update id="deletedBangInnRoom" parameterType="java.lang.String">
              UPDATE  ota_bang_inn_room SET  deleted=1 where ota_wg_id='${wgOtaId}'
       </update>

</mapper>