<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaInnOtaDao" >

       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaInnOtaDto">
              <id column="id" property="id" />
              <result column="wg_hid" property="wgHid"/>
              <result column="commission_percent" property="commissionPercent"/>
              <result column="company_id" property="companyId"/>
              <result column="alias_inn_name" property="aliasInnName"/>
              <result column="ota_id" property="otaId"/>
              <result column="price_model" property="priceModel"/>
              <result column="sjia_model" property="sJiaModel"/>
              <result column="price_model_value" property="priceModelValue"/>
       </resultMap>

       <insert id="saveOtaInnOta" parameterType="com.fanqielaile.toms.dto.OtaInnOtaDto">
              insert into ota_inn_ota(id,deleted,wg_hid,commission_percent,company_id,alias_inn_name,ota_id,price_model,sjia_model)
              values (#{uuid},0,#{wgHid},#{commissionPercent},#{companyId},#{aliasInnName},#{otaId},#{priceModel},#{sJiaModel})
       </insert>

       <select id="findOtaInnOta" parameterType="java.lang.String" resultMap="BaseResultMap">
              SELECT  * from ota_inn_ota WHERE  deleted=0 AND  id='${value}'
       </select>

       <select id="findOtaInnOtaIdsByCompanyCode" parameterType="java.lang.String" resultType="java.lang.String">
              SELECT oo.id from ota_inn_ota oo LEFT JOIN bang_inn bi ON bi.ota_wg_id = oo.id
              LEFT JOIN company c ON c.id=oo.company_id
              where c.company_code='${value}' and  bi.deleted=0;
       </select>

       <update id="updateOtaInnOtaCommission" >
              update ota_inn_ota set commission_percent='${commissionPercent}',price_model='${commissionType}' where  id in
              <foreach collection="listIds" index="index" item="item" open="(" close=")" separator=",">
                     #{item}
              </foreach>

       </update>

       <select id="findOtaInnOtaByParams" parameterType="com.fanqie.core.dto.TBParam" resultMap="BaseResultMap">
              SELECT o.* from ota_inn_ota o
              INNER JOIN bang_inn b ON b.ota_wg_id = o.id   INNER JOIN company c ON c.id = b.company_id
              where  b.deleted=0 and c.company_code = '${companyCode}' and b.inn_id ='${innId}' and b.account_id='${accountId}' and o.ota_id='${otaId}' and b.deleted=0
       </select>

       <select id="selectOtaInnOtaByTBHotelId" parameterType="java.lang.String" resultMap="BaseResultMap">
              SELECT oo.*,om.price_model_value from ota_inn_ota oo inner JOIN ota_price_model om on oo.id = om.ota_wg_id
              where oo.wg_hid=#{otaHotelId} and oo.deleted = 0
       </select>

</mapper>