<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.UserInfoDao" >
       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.model.UserInfo" >
              <id column="id" property="id" />
              <result column="login_name" property="loginName"/>
              <result column="user_type" property="userType"/>
              <result column="telephone" property="telephone"/>
              <result column="password" property="password"/>
              <result column="data_permission" property="dataPermission"/>
              <result column="role_id" property="roleId"/>
              <result column="created_date" property="createdDate"/>
       </resultMap>
       <resultMap id="userResultMap" type="com.fanqielaile.toms.model.UserInfo">
              <id column="id" property="id"/>
              <result column="login_name" property="loginName"/>
              <result column="user_type" property="userType"/>
              <result column="telephone" property="telephone"/>
              <result column="password" property="password"/>
              <result column="data_permission" property="dataPermission"/>
              <result column="role_id" property="roleId"/>
              <result column="created_date" property="createdDate"/>
              <association property="role" resultMap="roleOfUserMap"/>
       </resultMap>
       <resultMap id="roleOfUserMap" type="com.fanqielaile.toms.model.Role">
              <id column="role_id" property="id"/>
              <result column="role_name" property="roleName"/>
              <result column="role_key" property="roleKey"/>
       </resultMap>
       <sql id="Base_Column_List">
              id,login_name,user_type,telephone,password,data_permission,role_id,created_date
       </sql>
       <insert id="insertUserInfo" parameterType="com.fanqielaile.toms.model.UserInfo">
              insert into user_info(id,login_name,user_type,telephone,password,data_permission,role_id,created_date)
               values (#{id},#{loginName},#{userType},#{telephone},#{password},#{dataPermission},#{roleId},#{createdDate})
       </insert>
       <select id="selectUserInfoByLoginName" parameterType="java.lang.String" resultMap="userResultMap">
              select u.id,u.login_name, u.telephone, u.user_type, u.password, u.data_permission, u.role_id, u.created_date,
        r.id,role_id,r.role_name,r.role_key
        from user_info u left join role r on u.role_id= r.id where u.deleted = 0 and  u.login_name=#{loginName}
       </select>
</mapper>