body,.main-content {
    min-height: initial;
}
.ms-controller {
    visibility: hidden;
    display: none;
}
.form-actions {
    margin: 0;
}
/*body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}*/
h1, h2, h3,h4, h5, h6,p {
    text-align:left;
}
h1, h2, h3,h4, h5, h6,ul, ol,p {
    margin: 0;
}
dl, dt, dd, ul, ol, li {
    list-style: none;
    margin:0;
    padding:0
}
a:hover, a:focus,a {
    text-decoration: none !important;
}
.fl {
    float:left;
}
.fr {
    float: right;
}
.mgb-10 {
    margin-bottom: 10px;
}
.form-group {
    width: 100%;
    display: table;
}
.widget-toolbar {
    float: none;
}
/*消息中心*/

.news-center .dropdown-toggle{
    position: fixed;
    bottom: 15px;
    left: 150px;
}
.news-center .icon-envelope {
    position: relative;
    font-size: 24px;
}
.news-center .badge {
    position: absolute;
    top: -8px;
    right: -8px;
}
.news-center-dialog {
    display: none;
    position: fixed;
    left: 190px;
    bottom: 0;
    width: 500px;
    border: 1px solid #ccc;
    border-left: none;
    z-index: 99;
    background: #fff;
}
.news-center-dialog .top,
.news-center-dialog .center {
    padding: 10px;
}
.news-center-dialog .bottom {
    text-align: center;
}
.news-center-dialog .center {
    max-height: 320px;
    overflow-y: auto;
}
.news-center-dialog .top {
    border-bottom: 1px solid #ccc;
}
.news-center-dialog .center {
    max-height: 520px;
    overflow-y: auto;
}
.news-center-dialog .center li {
    position: relative;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.news-center-dialog .no-read {
    width: 10px;
    height: 10px;
    background: red;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 17px;
}
.pack-up {
    cursor: pointer;
}
.click-read-new-message {
    text-align:center;
    margin:5px;
}
.click-read-new-message a {
    cursor:pointer;
}
.pagination li {
    cursor: pointer;
}
.pagination .currentacitve {
    background-color: #6faed9;
    border-color: #6faed9;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*手动下单*/
.ftfl-content .modal-dialog {
    width: 750px;
}
.ftfl-content .ipt {
    width: 100%;
    margin: 5px 0;
}
.ftfl-content .check-time {
    padding-top: 10px;
}
.ftfl-content .check-time a {
    cursor: pointer;
    padding: 5px;
}
.reduce-icon,
.plus-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;background: #6FB3E0;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}
.remove-room-type {
    background: #6FB3E0;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}
.remove-room-type:hover {
    color: #fff;
}
.selectRoomType {
    width: 180px;
}
.other-pay-number,#otherList .number {
    width: 100px;
}
.select-other-pay {
    margin: 5px 0;
}
/*个性化设置*/
.manual-order h4,
.qita-xiaofei-guanli h4 {
    padding: 10px 0;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.manual-order-icon ul li {
    display: inline-block;
    padding: 10px;
    border: 2px solid #ccc;
    margin: 10px;
    cursor: pointer;
}
.manual-order-icon ul li:hover {
    border: 2px solid #428bca;
}
.gongneng-icon {
    padding: 10px;
    border: 1px solid #ccc;
}
.manual-order-icon dd {
    text-align: center;
}
.other-pay-manage {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}
.gongneng-icon .icon-coffee {
    font-size: 50px;
    color: #ccc;
}.gongneng-icon .ON {
    color: green;
}
.qita-xiaofei-guanli h4 {
    height: 45px;
    line-height: 45px;
    border-bottom: none;
    display: inline-table;
    width: 100%;
}
.unopened-con-p {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.opened-content p {
    padding: 10px 0;
}
.items-detail {
    padding: 5px;
    border-left: 1px solid #ccc;
}
.items-detail dl,
.items-title dl{
    display: inline-block;
}
.items-detail dl {
    padding: 5px 20px;
    border-right: 1px dashed #ccc;
    margin-bottom: 10px;
}
.items-title dl {
    text-align: center;
    padding: 10px;
}
.items-detail dl dd,
.items-title dl dd {
    line-height: 36px;
    font-size: 28px;
}
.items-detail dl dd {
    color: #999;
    position: relative;
}
.items-detail dd span {
    position: absolute;
    left: -28px;
    color: #61A401;
}
.items-title dl dd a {
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}
.opened-con-ul {
    display: inline-block;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.add-price-type {
    margin-left: 14px;
}
.error {
    color: red;
    text-align: center;
}
input[type=button].off_button,
input[type=button].on_button {
    width: 72px;
    height: 21px;
    background: url(../images/off_on_button.png) no-repeat 0 0;
    border: 0;
    position: absolute;
    left: 120px;
    top: 20px;
    cursor: pointer;
}
input[type=button].off_button {
    background: url(../images/off_on_button.png) no-repeat 0 -25px;
}
/*订单管理*/
.query-list {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.query-list div {
    float: left;
    margin-right: 10px;
}
.select-operator {
    position: relative;
}
.select-operator ul {
    position: absolute;
    left: 85px;
    width: 157px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}
.select-order-status {
    position: relative;
}
.select-order-status ul {
    position: absolute;
    left: 97px;
    width: 157px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: none; 
}
.select-operator ul li {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}
.select-operator ul li label {
    padding-left: 20px;
}
.enteroperator {
    width: 156px;
    height: 100%;
    line-height: 30px;
    display: inline-block;
    background: #ccc;
    text-align: center;
    cursor: pointer;
}
.room-types-info {
    width: 150px;
    border: 1px solid #000;
    border-bottom: none;
    float: left;
    margin: 0 10px 10px 0
}
.room-types-info li {
    border-bottom: 1px solid #000;
    padding: 2px;
}
.search-form {
    width: 100%;
    float: left;
    position: relative;
}
.query-btn {
    position: absolute;
    left: 750px;
    top: 12px;
}
.query-btn button {
    margin-right: 15px;
}
.channel-source,
.select-hotel {
    width: 145px;
}
.yingyehuizong {
    display: table;
    width: 100%;
    margin-top: 10px;
}
.yingyehuizong > li {
    display: table-cell;
    border:1px solid #ccc;
    border-right: none;
    text-align: center;
    padding-top: 10px;
    vertical-align: middle;
    background: #F9F9F9;
}
.yingyehuizong > li:last-child {
    border: 1px solid #ccc;
}
.other-items {
    display: table;
}
.other-items li {
    display: table-cell;
    padding: 10px 20px;
}