<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
       <context:component-scan base-package="com.fanqielaile.toms" use-default-filters="true">
              <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>
       <context:annotation-config/>
      <!-- <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              <property name="locations">
                     <list>
                            <value>classpath:conf/properties/datasource.properties</value>
                     </list>
              </property>
       </bean>-->

       <bean class="org.springframework.context.support.ResourceBundleMessageSource" id="messageSource"
             p:basenames="message"/>



       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
              <property name="dataSource" ref="dataSource"/>
       </bean>

       <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
              <property name="dataSource" ref="dataSource"/>
              <property name="configLocation" value="classpath:conf/mybatis/sqlMapConfig.xml"/>
              <property name="mapperLocations" value="classpath:com/fanqielaile/toms/mapper/*.xml"/>
              <property name="plugins">
                     <ref bean="paginationInterceptor"></ref>
              </property>
       </bean>
       <bean id="paginationInterceptor" class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
              <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.PostgreSQLDialect"/>
       </bean>
       <bean class="org.mybatis.spring.SqlSessionTemplate" id="templateDc">
              <constructor-arg index="0" ref="sqlSessionFactory" />
       </bean>

       <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
              <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
              <property name="basePackage" value="com.fanqielaile.toms.dao"/>
       </bean>

       <tx:annotation-driven mode="aspectj" transaction-manager="transactionManager"/>
       <tx:advice id="txAdvice" transaction-manager="transactionManager">
              <tx:attributes>
                     <tx:method name="add*" propagation="REQUIRED" />
                     <tx:method name="append*" propagation="REQUIRED" />
                     <tx:method name="insert*" propagation="REQUIRED" />
                     <tx:method name="save*" propagation="REQUIRED" />
                     <tx:method name="update*" propagation="REQUIRED" />
                     <tx:method name="modify*" propagation="REQUIRED" />
                     <tx:method name="edit*" propagation="REQUIRED" />
                     <tx:method name="delete*" propagation="REQUIRED" />
                     <tx:method name="remove*" propagation="REQUIRED" />
                     <tx:method name="repair" propagation="REQUIRED" />
                     <tx:method name="delAndRepair" propagation="REQUIRED" />

                     <tx:method name="get*" propagation="SUPPORTS" />
                     <tx:method name="find*" propagation="SUPPORTS" />
                     <tx:method name="load*" propagation="SUPPORTS" />
                     <tx:method name="search*" propagation="SUPPORTS" />
                     <tx:method name="datagrid*" propagation="SUPPORTS" />

                     <tx:method name="*" propagation="SUPPORTS" />
              </tx:attributes>
       </tx:advice>

       <aop:config proxy-target-class="true">
              <aop:pointcut id="serviceMethods" expression="execution(public * com.fanqielaile.toms.service.*.*(..))"/>
              <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
       </aop:config>

       <bean id="multipartResolver"
             class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
              <property name="maxUploadSize">
                     <value>32212254720</value>
              </property>
              <property name="maxInMemorySize">
                     <value>4096</value>
              </property>
       </bean>
       <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
    <bean id="springContextUtil" class="com.fanqielaile.toms.support.SpringContextUtil" scope="singleton" />
       <beans profile="dev">
              <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
                     <property name="driverClassName" value="org.postgresql.Driver"/>
                     <property name="url" value="jdbc:postgresql://192.168.1.158:5432/dc?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"/>
                     <property name="username" value="ota"/>
                     <property name="password" value="ota"/>
                     <property name="maxWait" value="1000" />
                     <property name="initialSize" value="5" />
                     <property name="maxActive" value="20" />
                     <property name="testWhileIdle" value="false" />
                     <property name="timeBetweenEvictionRunsMillis" value="15000" />
                     <property name="removeAbandoned" value="true" />
                     <property name="removeAbandonedTimeout" value="1800" />
                     <property name="validationQuery" value="select 1"/>
              </bean>
            <!--  <bean class="com.fanqielaile.toms.common.CommonApi">
                     <property name="QS" value="http://192.168.1.192:8083/api/toms/operate.json"></property>
                     <property name="QSDetail" value="http://192.168.1.192:8083/api/toms/opeDetail.json"></property>
                     <property name="KF" value="http://192.168.1.192:8083/api/toms/obtCustomerNum.json"></property>
                     <property name="kfD" value="http://192.168.1.192:8083/api/toms/customer.json"></property>
                     <property name="ORDER" value="http://192.168.1.192:8083/api/toms/order.json"></property>
                     <property name="ActiveInn" value="http://192.168.1.192:8083/api/toms/innActive.json"></property>
                     <property name="roomType" value="http://192.168.1.158:8888/api/getRoomType"></property>
              </bean>-->
              <bean class="com.fanqielaile.toms.common.CommonApi">
                     <property name="QS" value="http://192.168.1.159:38080/api/toms/operate.json"></property>
                     <property name="QSDetail" value="http://192.168.1.159:38080/api/toms/opeDetail.json"></property>
                     <property name="KF" value="http://192.168.1.159:38080/api/toms/obtCustomerNum.json"></property>
                     <property name="kfD" value="http://192.168.1.159:38080/api/toms/customer.json"></property>
                     <property name="ORDER" value="http://192.168.1.159:38080/api/toms/order.json"></property>
                     <property name="ActiveInn" value="http://192.168.1.159:38080/api/toms/innActive.json"></property>
                     <property name="roomType" value="http://192.168.1.158:8888/api/getRoomType"></property>
                     <property name="innInfo" value="http://192.168.1.158:8888/api/getInnInfo"></property>
                     <property name="tbUrl" value="http://gw.api.tbsandbox.com/router/rest"></property>
                     <property name="ProxySaleList" value="http://192.168.1.158:8888/api/queryProxySaleList"></property>
              </bean>
       </beans>
       <beans profile="staging">
              <bean name="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
                     <property name="driverClassName" value="org.postgresql.Driver"/>
                     <property name="url"  value="jdbc:postgresql://10.163.227.13:9999/oms_db"/>
                     <property name="username" value="ota"/>
                     <property name="password" value="ota"/>
                     <property name="maxWait" value="1000" />
                     <property name="initialSize" value="5" />
                     <property name="maxActive" value="20" />
                     <property name="testWhileIdle" value="false" />
                     <property name="timeBetweenEvictionRunsMillis" value="15000" />
                     <property name="removeAbandoned" value="true" />
                     <property name="removeAbandonedTimeout" value="1800" />
                     <property name="validationQuery" value="select 1"/>
              </bean>
              <bean  class="com.fanqielaile.toms.common.CommonApi">
                     <property name="QS" value="http://dc.test.fanqiele.com/api/toms/operate.json"></property>
                     <property name="QSDetail" value="http://dc.test.fanqiele.com/api/toms/opeDetail.json"></property>
                     <property name="KF" value="http://dc.test.fanqiele.com/api/toms/obtCustomerNum.json"></property>
                     <property name="kfD" value="http://dc.test.fanqiele.com/api/toms/customer.json"></property>
                     <property name="ORDER" value="http://dc.test.fanqiele.com/api/toms/order.json"></property>
                     <property name="ActiveInn" value="http://dc.test.fanqiele.com/api/toms/innActive.json"></property>
                     <property name="roomType" value="http://openapi.test.fanqielaile.com/api/getRoomType"></property>
                     <property name="innInfo" value="http://openapi.test.fanqielaile.com/api/getInnInfo"></property>
                     <property name="tbUrl" value="http://gw.api.tbsandbox.com/router/rest"></property>
              </bean>
       </beans>

       <beans profile="production">
              <jee:jndi-lookup jndi-name="java:comp/env/jdbc/tomato-toms"/>
              <bean  class="com.fanqielaile.toms.common.CommonApi">
                     <property name="QS" value="http://dc.fanqiele.com/api/toms/operate.json"></property>
                     <property name="QSDetail" value="http://dc.fanqiele.com/api/toms/opeDetail.json"></property>
                     <property name="KF" value="http://dc.fanqiele.com/api/toms/obtCustomerNum.json"></property>
                     <property name="kfD" value="http://dc.fanqiele.com/api/toms/customer.json"></property>
                     <property name="ORDER" value="http://dc.fanqiele.com/api/toms/order.json"></property>
                     <property name="ActiveInn" value="http://dc.fanqiele.com/api/toms/innActive.json"></property>
                     <property name="roomType" value="http://oms.fanqiele.com/api/getRoomType"></property>
                     <property name="innInfo" value="http://oms.fanqiele.com/api/getInnInfo"></property>
                     <property name="tbUrl" value="http://gw.api.taobao.com/router/rest"></property>
              </bean>
       </beans>
</beans>