<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.BangInnDao">
    <resultMap id="BaseResultMap" type="com.fanqielaile.toms.model.BangInn">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="bang_date" property="bangDate"/>
        <result column="lose_date" property="loseDate"/>
        <result column="start_date" property="startDate"/>
        <result column="inn_id" property="innId"/>
        <result column="inn_name" property="innName"/>
        <result column="code" property="code"/>
        <result column="inn_label_id" property="innLabelId"/>
        <result column="mobile" property="mobile"/>
        <result column="inn_code" property="innCode"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="account_id" property="accountId"/>
    </resultMap>
    <resultMap id="BangInnDtoResult" type="com.fanqielaile.toms.dto.BangInnDto">
        <id column="id" property="id"/>
        <result column="company_id" property="companyId"/>
        <result column="bang_date" property="bangDate"/>
        <result column="lose_date" property="loseDate"/>
        <result column="start_date" property="startDate"/>
        <result column="inn_id" property="innId"/>
        <result column="inn_name" property="innName"/>
        <result column="code" property="code"/>
        <result column="inn_label_id" property="innLabelId"/>
        <result column="mobile" property="mobile"/>
        <result column="inn_code" property="innCode"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="company_name" property="companyName"/>
        <result column="company_code" property="companyCode"/>
        <result column="account_id" property="accountId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,company_id,bang_date,lose_date,start_date,inn_id,inn_name,code,inn_label_id,mobile,inn_code,user_id,type,account_id
       </sql>
    <insert id="insertBangInn" parameterType="com.fanqielaile.toms.model.BangInn">
              insert into bang_inn(id,company_id,bang_date,lose_date,start_date,inn_id,inn_name,code,inn_label_id,mobile,inn_code,user_id,type)
              values (#{id},#{companyId},#{bangDate},#{loseDate},#{startDate},#{innId},#{innName},#{code},#{innLabelId},#{mobile},#{innCode},#{userId},#{type})
       </insert>
    <select id="selectBangInnByInnLabelId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from bang_inn where inn_label_id = #{innLabelId}
    </select>
    <update id="updateBangInnUserId">
              update bang_inn set user_id = #{newUserId} where user_id = #{oldUserId}
       </update>
    <select id="selectBangInnByUser" parameterType="com.fanqielaile.toms.model.UserInfo" resultMap="BaseResultMap">
        SELECT DISTINCT inn_label_id FROM bang_inn where company_id = #{companyId}
        <if test="dataPermission == 0">
            and user_id = #{id}
        </if>
        and inn_label_id is not NULL
    </select>
    <select id="selectBangInnByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from bang_inn where user_id = #{userId} ORDER BY bang_date DESC
    </select>
    <select id="selectBangInnListByUserInfo" parameterType="com.fanqielaile.toms.model.UserInfo"
            resultMap="BangInnDtoResult">
        SELECT
        <include refid="Base_Column_List"/>
        from bang_inn where company_id = #{companyId}
        <if test="dataPermission == 0">
            and user_id = #{id}
        </if>
        <if test="innLabelId != null and innLabelId != ''">
            and inn_label_id = #{innLabelId}
        </if>
        <if test="userId != null and userId != ''">
            and user_id = #{userId}
        </if>
        ORDER BY bang_date DESC
    </select>
    <select id="selectBangInnById" parameterType="java.lang.String" resultMap="BangInnDtoResult">
        SELECT
        <include refid="Base_Column_List"/>
        from bang_inn where id= #{id}
    </select>
    <update id="updateBangInn" parameterType="com.fanqielaile.toms.dto.BangInnDto">
        update bang_inn
        <trim prefix="SET" suffixOverrides=",">
            <if test="innLabelId != null and innLabelId != ''">
                inn_label_id = #{innLabelId},
            </if>
            <if test="code != null and code != ''">
                code= #{code},
            </if>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
        </trim>
        where id= #{id}
    </update>
    <select id="selectCompanyByInnId" parameterType="java.lang.Integer" resultMap="BangInnDtoResult">
        select bi.inn_id,bi.inn_code,bi.company_id,bi.bang_date,c.company_name,c.company_code from bang_inn bi INNER
        JOIN
        company c on bi.company_id = c.id and c.type = 1 where bi.inn_id = #{innId} ORDER BY bi.bang_date DESC
    </select>
    <insert id="createBangInn" parameterType="com.fanqielaile.toms.dto.BangInnDto">
        insert into bang_inn(id,company_id,bang_date,lose_date,start_date,inn_id,inn_name,code,inn_label_id,mobile,inn_code,user_id,type,account_id)
        VALUES (#{uuid},#{companyId},#{bangDate},#{loseDate},#{startDate},#{innId},#{innName},#{code},#{innLabelId},#{mobile},#{innCode},#{userId},#{type},#{accountId})
    </insert>
    <select id="selectBangInnByCompanyIdAndInnId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bang_inn where company_id=#{companyId} and inn_id = #{innId} ORDER BY bang_date DESC
    </select>
    <select id="selectBangInnByStringInnId" resultMap="BangInnDtoResult"
            parameterType="com.fanqielaile.toms.model.BangInn">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bang_inn
        <where>
            <foreach collection="bangInnList" index="index" item="item" open="(" close=")" separator=",">
                id in #{item.id}
            </foreach>
        </where>
    </select>
    <select id="selectBangInnByCompanyId" resultMap="BangInnDtoResult" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        from bang_inn where company_id =#{companyId}
    </select>
</mapper>