<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaInfoDao" >
      <!-- <resultMap id="BaseResultMap" type="com.fanqielaile.toms.model.OtaInfo">
              <id column="id" property="id" />
              <result column="ota_info" property="otaInfo"/>
              <result column="ota_type" property="otaType"/>
              <result column="appkey" property="appKey"/>
              <result column="appsecret" property="appSecret"/>
              <result column="sessionkey" property="sessionKey"/>
              <result column="company_id" property="companyId"/>
              <result column="deleted" property="deleted"/>
       </resultMap>

       <resultMap id="otaInfoDtoId" type="com.fanqielaile.toms.dto.OtaInfoDto" extends="BaseResultMap">
           <result column="company_code" property="companyCode"/>
       </resultMap>-->
        <resultMap id="otaInfoRefId" type="com.fanqielaile.toms.dto.OtaInfoRefDto">
            <result column="id" property="id" />
            <result column="ota_id" property="otaId" />
            <result column="ota_info_id" property="otaInfoId" />
            <result column="ota_info" property="otaInfo"/>
            <result column="ota_type" property="otaType"/>
            <result column="appkey" property="appKey"/>
            <result column="appsecret" property="appSecret"/>
            <result column="sessionkey" property="sessionKey"/>
            <result column="company_id" property="companyId"/>
            <result column="company_code" property="companyCode"/>
            <result column="sort" property="sort"/>
            <result column="used_price_model" property="usedPriceModel"/>
            <result column="tb_type" property="tbType"/>
            <result column="create_date" property="createdDate"/>
            <result column="xc_user_name" property="xcUserName"/>
            <result column="xc_password" property="xcPassword"/>
            <result column="updated_date" property="updatedDate"/>
             <result column="user_id" property="userId"/>
             <result column="status" property="status"/>
             <result column="vendor_id" property="vendorId"/>
        </resultMap>

       <select id="selectAllOtaByCompany" parameterType="java.lang.String" resultMap="otaInfoRefId">
          SELECT oi.ota_info,oi.ota_type ,oi.sort,c.company_code,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id
          left JOIN  company c on c.id = o.company_id
          where oi.deleted=0 and o.status=1 and c.company_code = '${companyCode}' ORDER BY oi.sort
       </select>

       <select id="selectOtaInfoByCompanyIdAndOtaInnOtaId"  resultMap="otaInfoRefId">
          SELECT oi.ota_info,oi.ota_type ,oi.sort,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id
          left JOIN  company c on c.id = o.company_id
          where oi.deleted=0 and c.id = '${companyId}' and oi.id='${otaInfoId}'  ORDER BY oi.sort limit 1
       </select>
       <select id="selectOtaInfoRefDtoById" resultMap="otaInfoRefId" >
           SELECT  oi.ota_info,o.* from otainfo_company_ref o left JOIN  ota_info oi on oi.id = o.ota_info_id
           where o.id='${otaInfoRefId}'

       </select>
       <select id="selectAllOtaByType" resultMap="otaInfoRefId" >
           SELECT  oi.ota_info,oi.ota_type,c.company_code,o.* from otainfo_company_ref o left JOIN  ota_info oi on oi.id = o.ota_info_id
           LEFT JOIN company c ON c.id = o.company_id
           where o.tb_type='${otaTypeName}'
       </select>

       <select id="selectAllOtaByCompanyAndType"  resultMap="otaInfoRefId">
          SELECT oi.ota_info,oi.ota_type ,oi.sort,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id
          where oi.deleted=0 and o.company_id='${companyId}' and oi.ota_type = '${otaType}' limit 1
       </select>

       <select id="selectOtaInfoList" resultMap="otaInfoRefId" >
          SELECT oi.ota_info,oi.ota_type ,oi.sort,c.company_code,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id
          left JOIN  company c on c.id = o.company_id
          where oi.deleted=0 and o.status=1
       </select>

        <select id="selectAllOtaInfo" resultMap="otaInfoRefId" >
            SELECT oi.ota_info,oi.ota_type ,oi.sort,oi.id as ota_info_id  from ota_info oi where oi.deleted=0
        </select>
        <select id="selectOtaInfo" parameterType="java.lang.String" resultMap="otaInfoRefId">
            SELECT oi.ota_info,oi.ota_type ,oi.sort,oi.id as ota_info_id  from ota_info oi where oi.deleted=0 and oi.id='${otaInfoId}'
        </select>

       <select id="selectOtaInfoListByCompanyId" parameterType="java.lang.String" resultMap="otaInfoRefId">
          SELECT oi.ota_info,oi.ota_type ,oi.sort,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id
          where oi.deleted=0  and  o.company_id='${companyId}' ORDER BY oi.sort
       </select>

    <insert id="saveOtaInfo" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto">
        insert into otainfo_company_ref(id,ota_info_id,company_id,appkey,appsecret,sessionkey,status,used_price_model,create_date,updated_date,tb_type,xc_user_name,xc_password,user_id)
              values (#{uuid},#{otaId},#{companyId},#{appKey},#{appSecret},#{sessionKey},1,#{usedPriceModel.name},now(),now(),'DEFAULT',#{xcUserName},#{xcPassword},#{userId})
    </insert>

    <select id="findOtaInfoByOtaIdAndCompanyId" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto" resultMap="otaInfoRefId">
         SELECT oi.ota_info,oi.ota_type ,oi.sort,o.* from ota_info oi
          LEFT  JOIN otainfo_company_ref o ON oi.id = o.ota_info_id and o.company_id='${companyId}'
          where o.ota_info_id = '${otaId}'
    </select>
    <select id="selectCompanyIdByAppKey" resultMap="otaInfoRefId">
        SELECT company_id,ota_info_id,used_price_model from otainfo_company_ref where appkey=#{appKey} and appsecret =
        #{appSecret}
    </select>
    <select id="selectOtaInfoByType" parameterType="java.lang.String" resultMap="otaInfoRefId">
        SELECT oi.* from ota_info oi where ota_type = #{otaType}
    </select>
    <update id="updateOtaInfoTbType" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto" >
        update otainfo_company_ref set tb_type=#{tbType.name} where ota_info_id ='${otaInfoId}' and company_id='${companyId}'
    </update>

    <update id="updateOtaInfo" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto" >
        update otainfo_company_ref set appkey=#{appKey},appsecret=#{appSecret} ,sessionkey=#{sessionKey} ,status=#{status},vendor_id=#{vendorId} where id ='${id}'
    </update>

    <select id="selectOtaByAppKey" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto" resultType="java.lang.String">
        SELECT  o.company_id from otainfo_company_ref o where o.appkey='${appKey}' and o.company_id != '${companyId}'
    </select>
    <select id="selectOtaInfoByAppKey" parameterType="com.fanqielaile.toms.dto.OtaInfoRefDto" resultMap="otaInfoRefId">
        SELECT  o.* from otainfo_company_ref o where o.appkey='${appKey}'
        ORDER BY o.create_date ASC limit 1;
    </select>
    <select id="selectOtaCompanyRefByOtaType" resultMap="otaInfoRefId">
        SELECT o.* from otainfo_company_ref o LEFT join ota_info oi on o.ota_info_id = oi.id where
        oi.ota_type=#{otaTypeName}
    </select>
</mapper>