<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaInnRoomTypeGoodsDao" >
       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaInnRoomTypeGoodsDto">
              <id column="id" property="id" />
              <result column="room_type_id" property="roomTypeId"/>
              <result column="inn_id" property="innId"/>
              <result column="rpid" property="rpid"/>
              <result column="gid" property="gid"/>
              <result column="company_id" property="companyId"/>
              <result column="ota_wg_id" property="otaWgId"/>
              <result column="product_date" property="productDate"/>
              <result column="deleted" property="deleted"/>
       </resultMap>


       <insert id="saveRoomTypeGoodsRp" parameterType="com.fanqielaile.toms.dto.OtaInnRoomTypeGoodsDto" >
           insert into ota_inn_roomtype_goods(id,room_type_id,inn_id,company_id,rpid,gid,ota_wg_id,rid,product_date,deleted)
           values (#{uuid},#{roomTypeId},#{innId},#{companyId},#{rpid},#{gid},#{otaWgId},#{rid},now(),0)
       </insert>

       <update id="updateRoomTypeGoodsProductDate" parameterType="com.fanqielaile.toms.dto.OtaInnRoomTypeGoodsDto" >
           update ota_inn_roomtype_goods set product_date=now()
              <if test="gid != null and gid != ''">
                     , gid= '${gid}'
              </if><if test="rpid != null and rpid != ''">
                     , rpid= '${rpid}'
              </if><if test="rid != null and rid != ''">
                     , rid= '${rid}'
              </if>
           where id='${id}'
       </update>
       <update id="deletedGoods" parameterType="java.lang.String" >
           update ota_inn_roomtype_goods set deleted=1 where ota_wg_id='${otaWgId}'
       </update>

       <select id="findRoomTypeByRid" parameterType="java.lang.Long" resultMap="BaseResultMap">
              SELECT  o.* from ota_inn_roomtype_goods o where o.rid='${rid}' and deleted =0
       </select>

    <select id="selectGoodsByRoomTypeIdAndCompany"  resultMap="BaseResultMap">
             SELECT good.* from bang_inn o INNER JOIN ota_inn_roomtype_goods good ON good.ota_wg_id = o.ota_wg_id
            where o.sj=1 and o.company_id='${companyId}' and good.room_type_id='${roomTypeId}'
       </select>



</mapper>