<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaInnOtaDao" >

       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaInnOtaDto">
              <id column="id" property="id" />
              <result column="wg_hid" property="wgHid"/>
              <result column="commission_percent" property="commissionPercent"/>
              <result column="company_id" property="companyId"/>
              <result column="alias_inn_name" property="aliasInnName"/>
              <result column="ota_id" property="otaId"/>
              <result column="price_model" property="priceModel"/>
              <result column="sjia_model" property="sJiaModel"/>
              <result column="price_model_value" property="priceModelValue"/>
              <result column="deleted" property="deleted"/>
              <result column="bang_inn_id" property="bangInnId"/>
              <result column="ota_info_id" property="otaInfoId"/>
              <result column="inn_id" property="innId"/>
              <result column="sj" property="sj"/>
              <result column="updatedDate" property="updated_date"/>
              <result column="createdDate" property="created_date"/>
       </resultMap>

       <insert id="saveOtaInnOta" parameterType="com.fanqielaile.toms.dto.OtaInnOtaDto">
              insert into ota_inn_ota(id,deleted,wg_hid,commission_percent,company_id,alias_inn_name,ota_id,price_model,sjia_model,bang_inn_id,ota_info_id,inn_id,sj,updated_date,created_date)
              values (#{uuid},0,#{wgHid},#{commissionPercent},#{companyId},#{aliasInnName},#{otaId},#{priceModel},#{sJiaModel},#{bangInnId},#{otaInfoId},#{innId},#{sj},now(),now())
       </insert>

       <select id="findOtaInnOta" parameterType="java.lang.String" resultMap="BaseResultMap">
              SELECT  * from ota_inn_ota WHERE  deleted=0 AND  id='${value}'
       </select>

       <select id="findOtaInnOtaIdsByCompanyCode" parameterType="java.lang.String" resultType="java.lang.String">
              SELECT oo.id from ota_inn_ota oo LEFT JOIN bang_inn bi ON bi.id = oo.bang_inn_id
              LEFT JOIN company c ON c.id=oo.company_id
              where c.company_code='${value}' and  bi.deleted=0;
       </select>

       <update id="updateOtaInnOtaCommission" >
              update ota_inn_ota set commission_percent='${commissionPercent}' where  id in
              <foreach collection="listIds" index="index" item="item" open="(" close=")" separator=",">
                     #{item}
              </foreach>

       </update>
       <update id="deletedOtaInnOtaById" parameterType="java.lang.String">
               DELETE from ota_inn_ota where id='${id}'
       </update>

       <select id="findOtaInnOtaByParams" parameterType="com.fanqie.core.dto.TBParam" resultMap="BaseResultMap">
              SELECT o.* from ota_inn_ota o
              INNER JOIN bang_inn b ON b.ota_wg_id = o.id   INNER JOIN company c ON c.id = b.company_id
              where  b.deleted=0 and c.company_code = '${companyCode}' and b.inn_id ='${innId}' and b.account_id='${accountId}' and o.ota_id='${otaId}' and b.deleted=0
       </select>

       <select id="selectOtaInnOtaByHid"  resultMap="BaseResultMap">
                SELECT o.* from ota_inn_ota o where  o.deleted=0 and o.wg_hid='${hid}' and o.company_id='${companyId}' and o.ota_info_id='${otaInfoId}'
       </select>

       <select id="selectOtaInnOtaByTBHotelId" parameterType="java.lang.String" resultMap="BaseResultMap">
              SELECT oo.*,om.price_model_value from ota_inn_ota oo inner JOIN ota_price_model om on oo.id = om.ota_wg_id
              where oo.wg_hid=#{otaHotelId} and oo.deleted = 0
       </select>

       <select id="selectOtaInnOtaByBangId" resultMap="BaseResultMap">
              SELECT oo.* from ota_inn_ota oo inner JOIN bang_inn bi on bi.id = oo.bang_inn_id
              where oo.deleted = 0 and oo.ota_info_id = '${otaInfoId}' and oo.bang_inn_id = '${bangInnId}' and
              oo.company_id='${companyId}' limit 1
       </select>

       <select id="selectOtaInnOtaById" resultMap="BaseResultMap">
              SELECT oo.* from ota_inn_ota oo
              where oo.deleted = 0 and oo.sj=1 and oo.id = '${id}' and  oo.company_id='${companyId}'
       </select>

       <update id="updateOtaInnOta" parameterType="com.fanqielaile.toms.dto.OtaInnOtaDto">
             update ota_inn_ota set sj=#{sj},updated_date=now() where  id=#{id}
       </update>
       <select id="selectOtaInnOtaByInnIdAndCompanyIdAndOtaInfoId" resultMap="BaseResultMap">
              select * from ota_inn_ota WHERE company_id = #{companyId} and ota_info_id=#{otaInfoId} and inn_id = #{innId} and sj=1 limit 1;
       </select>
       <select id="selectOtaInnOtaByHidAndOtaInfoId" resultMap="BaseResultMap">
              SELECT * from ota_inn_ota where wg_hid='${hid}' and ota_info_id=#{otaInfoId} limit 1
       </select>
</mapper>