<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.UserInfoDao" >
       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaPriceModelDto">

              <id column="id" property="id" />
              <result column="price_model_value" property="priceModelValue"/>
              <result column="price_model" property="priceModelEnum"/>
              <result column="ota_wg_id" property="otaWgId"/>
       </resultMap>



</mapper>