<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanqielaile.toms.dao.IOtaPriceModelDao" >
       <resultMap id="BaseResultMap" type="com.fanqielaile.toms.dto.OtaPriceModelDto">

              <id column="id" property="id" />
              <result column="price_model_value" property="priceModelValue"/>
              <result column="price_model" property="priceModelEnum"/>
              <result column="ota_wg_id" property="otaWgId"/>
              <result column="createdDate" property="created_date"/>
              <result column="deleted" property="otaWgId"/>
       </resultMap>


       <insert id="savePriceModel" parameterType="com.fanqielaile.toms.dto.OtaPriceModelDto">
            insert into ota_price_model(id,deleted,created_date,price_model_value,price_model,ota_wg_id)
            values (#{uuid},0,now(),#{priceModelValue},#{priceModelEnum},#{otaWgId})
       </insert>

</mapper>